<mat-toolbar class="main">
    <button mat-icon-button (click)="OpenSettings()">
        <mat-icon>settings</mat-icon>
    </button>
    <mat-checkbox *ngFor="let s of settings.headers('items', true)" [(ngModel)]="s.enable" (change)="TableColumns()">
        {{s.name}}
    </mat-checkbox>
    <div class="space"></div>
    <div class="pages">
        {{(page - 1) * row + 1}} - {{(page - 1) * row + showingData.length}} / {{filteredData.length}} /
        {{raw.length}}
    </div>
    <div>
        <mat-form-field class="page">
            <input matInput [(ngModel)]="page" type="number" min="1" (change)="Filter()">
        </mat-form-field>
        <span class="suffix">page</span>
    </div>
    <div>
        <mat-form-field class="row">
            <input matInput [(ngModel)]="row" type="number" min="1" (change)="Filter()">
        </mat-form-field>
        <span class="suffix">items per row</span>
    </div>
</mat-toolbar>
<mat-toolbar class="sub">
    <div>
        <mat-form-field>
            <input matInput [(ngModel)]="search" (change)="Filter()">
            <button mat-icon-button matSuffix (click)="search = '';Filter()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <mat-checkbox [(ngModel)]="catalogForSale" (change)="Filter()">購入可のみ</mat-checkbox>
    <button mat-button (click)="ToggleState(diystate, diy)">{{diy.state}}</button>
</mat-toolbar>
<!-- <mat-form-field>
    <input matInput [(ngModel)]="page" type="number" (change)="Filter()">
</mat-form-field>
<mat-form-field>
    <input matInput [(ngModel)]="row" type="number" (change)="Filter()">
</mat-form-field> -->

<!-- {{(page - 1) * row + 1}} - {{(page - 1) * row + showingData.length}} / {{filteredData.length}} / {{raw.length}} -->

<div class="contents">

    <div>
        <button mat-icon-button (click)="CategoryAll(categories1)">
            <mat-icon>weekend</mat-icon>
        </button>
        <button mat-raised-button *ngFor="let c of categories1" (click)="CategoryButton(c)"
            [class.active]="c.checked">{{c.name}}</button>
    </div>
    <div>
        <button mat-icon-button (click)="CategoryAll(categories2)">
            <mat-icon>checkroom</mat-icon>
        </button>
        <button mat-raised-button *ngFor="let c of categories2" (click)="CategoryButton(c)"
            [class.active]="c.checked">{{c.name}}</button>
    </div>
    <div>
        <button mat-icon-button (click)="CategoryAll(categories3)">
            <mat-icon>music_note</mat-icon>
        </button>
        <button mat-raised-button *ngFor="let c of categories3" (click)="CategoryButton(c)"
            [class.active]="c.checked">{{c.name}}</button>
    </div>



    <mat-table [dataSource]="showingData" matSort (matSortChange)="ReSort($event)" matSortActive="name"
        matSortDirection="asc">
        <ng-container *ngFor="let c of colDataSimple" [matColumnDef]="c.id">
            <ng-container *ngIf="c.sort;else nosort">
                <mat-header-cell [class]="['h_'+c.id]" *matHeaderCellDef mat-sort-header disableClear>{{c.header}}
                </mat-header-cell>
            </ng-container>
            <ng-template #nosort>
                <mat-header-cell [class]="['h_'+c.id]" *matHeaderCellDef>{{c.header}}</mat-header-cell>
            </ng-template>
            <mat-cell *matCellDef="let element"> {{c.data(element)}} </mat-cell>
        </ng-container>

        <ng-container [matColumnDef]="colData.image.id">
            <mat-header-cell class="h_image" *matHeaderCellDef>がぞう</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <div class="image">
                    <div *ngFor="let s of colData.image.data(element)">
                        <div class="image-name" *ngFor="let n of s.name">{{n}}</div>
                        <img [src]="s.src">
                    </div>
                </div>
            </mat-cell>
        </ng-container>
        <!-- <ng-container [matColumnDef]="colData.var.id">
        <mat-header-cell class="h_var" *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-icon *ngIf="colData.var.exist(element)">edit</mat-icon>
        </mat-cell>
    </ng-container> -->
        <ng-container [matColumnDef]="colData.source.id">
            <mat-header-cell class="h_source" *matHeaderCellDef mat-sort-header disableClear>入手手段</mat-header-cell>
            <mat-cell class="d_source" *matCellDef="let element">
                <div>
                    <div class="list">
                        <div *ngFor="let s of element.source;let i = index">{{t.ItemsSource(s)}}
                            <!-- <button mat-icon-button *ngIf="element.diy" [matMenuTriggerFor]="recipe">
                            <mat-icon>speaker_notes</mat-icon>
                            <mat-menu #recipe="matMenu">{{t.ItemsSource(element.recipe.source)}}</mat-menu>
                        </button> -->
                            <span *ngIf="s === 'Crafting'" class="recipe">
                                <ng-container *ngFor="let s of element.recipe.source">
                                    {{t.ItemsSource(s)}}
                                </ng-container>
                            </span>
                        </div>
                    </div>
                    <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="element.sourceNotes">
                        <mat-icon>speaker_notes</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">{{element.sourceNotes}}</mat-menu>
                </div>
            </mat-cell>
        </ng-container>
        <ng-container [matColumnDef]="colData.variations.id">
            <mat-header-cell class="h_variations" *matHeaderCellDef>バリエーション</mat-header-cell>
            <mat-cell class="d_variations" *matCellDef="let element">
                <div>
                    <ng-container *ngIf="!element.variations;else vari">
                        <button mat-icon-button (click)="colData.check.checked(element)">
                            <mat-icon>{{colData.check.icon(element)}}</mat-icon>
                        </button>
                        <!-- <mat-checkbox [checked]="colData.check.isChecked(element)"
                        (ngModelChange)="colData.check.checked(element)"></mat-checkbox> -->
                    </ng-container>
                    <ng-template #vari>
                        <ng-container *ngFor="let s of element.variations;let i = index">
                            <div>
                                <mat-checkbox [checked]="colData.variations.isChecked(element, s)"
                                    (change)="colData.variations.check(element, s)">{{colData.variations.ja(s)}}
                                </mat-checkbox>
                                <!-- <ng-container *ngIf="IsNotLast(i, element.variations)">,</ng-container> -->
                            </div>
                        </ng-container>
                    </ng-template>
                </div>
            </mat-cell>
        </ng-container>
        <ng-container [matColumnDef]="colData.check.id">
            <mat-header-cell class="check" *matHeaderCellDef></mat-header-cell>
            <mat-cell class="check" *matCellDef="let element" (click)="colData.check.checked(element)">
                <button mat-icon-button>
                    <mat-icon>{{colData.check.icon(element)}}</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <ng-container [matColumnDef]="colData.material.id">
            <mat-header-cell class="h material" *matHeaderCellDef>材料</mat-header-cell>
            <mat-cell class="d material" *matCellDef="let element">
                <div *ngFor="let s of colData.material.mats(element)">
                    <div>{{s.count}}</div>
                    <div><img *ngIf="settings.generals.materialImage" [src]="s.image">{{s.name}}</div>
                </div>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="col"></mat-header-row>
        <mat-row *matRowDef="let row; columns: col;"></mat-row>
    </mat-table>
</div>