<div class="main toolbar">
  <button mat-icon-button (click)="OpenSettings()">
    <mat-icon>settings</mat-icon>
  </button>
  <div class="headers">
    <mat-checkbox
      *ngFor="let s of settings.headers('creatures', true)"
      [(ngModel)]="s.enable"
      (change)="TableColumns(); settings.save_settings()"
    >
      {{ s.name }}
    </mat-checkbox>
  </div>
  <div class="space"></div>
  <div class="pages nowrap">
    {{ (page - 1) * row + 1 }} - {{ (page - 1) * row + showingData.length }} / {{ filteredData.length }} /
    {{ raw.length }}
  </div>
  <div class="nowrap">
    <button class="page-button" mat-button (click)="page = page - 1; PageChange()">{{ "<" }}</button>
    <mat-form-field class="page">
      <input matInput [(ngModel)]="page" type="number" min="1" (change)="PageChange()" />
      <span matSuffix class="suffix">page</span>
    </mat-form-field>
    <button class="page-button" mat-button (click)="page = page + 1; PageChange()">{{ ">" }}</button>
  </div>
  <div class="nowrap">
    <mat-form-field class="row">
      <input matInput [(ngModel)]="row" type="number" min="1" (change)="PageChange()" />
    </mat-form-field>
    <span class="suffix">items per row</span>
  </div>
</div>
<div class="sub toolbar">
  <button
    class="check"
    mat-icon-button
    *ngFor="let c of checks"
    (click)="c.checked = !c.checked; Filter()"
    [class.active]="c.checked"
  >
    <mat-icon>{{ c.icon }}</mat-icon>
  </button>
  <div>
    <mat-form-field>
      <input matInput [(ngModel)]="searchText" (change)="Filter()" />
      <button mat-icon-button matSuffix (click)="searchText = ''; Filter()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div>
    <!-- <div class="month">
            <div *ngFor="let i of _12" [class.active]="filt.month[i]" (mousedown)="filt.month[i]= !filt.month[i]">{{i}}月
            </div>
        </div> -->
    <!-- <button mat-raised-button [matMenuTriggerFor]="month">月</button>
        <mat-menu #month>
        </mat-menu> -->
    <!-- <div style="font-size: small;border: 1px solid black;">1月</div> -->
    <mat-form-field>
      <mat-select [(ngModel)]="month" (ngModelChange)="Filter()">
        <mat-option [value]="-1">全て</mat-option>
        <mat-option *ngFor="let i of _12" [value]="i">{{ i }}月</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select [(ngModel)]="time" (ngModelChange)="Filter()">
        <mat-option [value]="-1">全て</mat-option>
        <mat-option *ngFor="let i of _24" [value]="i">{{ i }}時台</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-checkbox [(ngModel)]="highlightCurrentTime">現在の月と時刻をハイライト</mat-checkbox>
  </div>
  <div class="space"></div>
  <div>{{ scrollText }}</div>
  <button
    mat-icon-button
    (keyup)="scroller($event)"
    (focus)="focus()"
    (blur)="unfocus()"
    [class.focused]="scrollerFocused"
  >
    <mat-icon>find_in_page</mat-icon>
  </button>
</div>

<div class="contents">
  <div class="categories">
    <button mat-icon-button (click)="CategoryAll(categories)">
      <mat-icon>bug_report</mat-icon>
    </button>
    <button mat-raised-button *ngFor="let c of categories" (click)="CategoryButton(c)" [class.active]="c.checked">
      {{ c.name }}
    </button>
  </div>

  <mat-table
    [dataSource]="showingData"
    matSort
    (matSortChange)="SortOrderChange($event)"
    matSortActive="id"
    matSortDirection="asc"
  >
    <ng-container *ngFor="let c of colDataSimple" [matColumnDef]="c.id">
      <ng-container *ngIf="c.sort; else nosort">
        <mat-header-cell [class]="['h', c.id]" *matHeaderCellDef mat-sort-header disableClear
          >{{ c.header }}
        </mat-header-cell>
      </ng-container>
      <ng-template #nosort>
        <mat-header-cell [class]="['h', c.id]" *matHeaderCellDef>{{ c.header }}</mat-header-cell>
      </ng-template>
      <mat-cell [class]="['c', c.id]" *matCellDef="let element">
        {{ c.key ? element[c.key] : c.data(element) }}
      </mat-cell>
    </ng-container>

    <ng-container *ngFor="let c of colDataImage" [matColumnDef]="c.id">
      <mat-header-cell [class]="['h', 'image', c.id]" *matHeaderCellDef>{{ c.header }}</mat-header-cell>
      <mat-cell [class]="['d', 'image', c.id]" *matCellDef="let element"> <img [src]="element[c.key]" /> </mat-cell>
    </ng-container>

    <ng-container matColumnDef="period">
      <mat-header-cell class="h period" *matHeaderCellDef>生息時期</mat-header-cell>
      <mat-cell class="d period" *matCellDef="let element">
        <div>
          <div class="month">
            <div
              *ngFor="let i of _12"
              [class.active]="colData.period.hem(element).monthsArray.includes(i)"
              [class.current]="highlightCurrentTime && IsNow_m(i)"
            >
              {{ i }}月
            </div>
          </div>
          <div>
            <div class="time">
              <div
                *ngFor="let i of _24"
                [class]="'t_' + (i + 1)"
                [class.active]="colData.period.time(element).includes(i)"
                [class.current]="highlightCurrentTime && IsNow_t(i)"
              ></div>
            </div>
            <div class="time_string" *ngFor="let t of colData.period.hem(element).time">{{ t }}</div>
          </div>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="property">
      <mat-header-cell class="h property" *matHeaderCellDef>特徴</mat-header-cell>
      <mat-cell class="d property" *matCellDef="let element">
        <ng-container *ngFor="let p of colData.property.data(element)">
          <div class="key">{{ p.key }}</div>
          <div>{{ p.value }}</div>
        </ng-container>
      </mat-cell>
    </ng-container>

    <ng-container [matColumnDef]="colData.check.id">
      <mat-header-cell class="check" *matHeaderCellDef></mat-header-cell>
      <mat-cell class="check" *matCellDef="let element">
        <mat-checkbox
          [ngModel]="colData.check.IsChecked(element)"
          (ngModelChange)="colData.check.check(element)"
        ></mat-checkbox>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="col"></mat-header-row>
    <mat-row
      #matrow
      *matRowDef="let row; columns: col; let i = index"
      (click)="clickRow(row)"
      [class.scrolled]="scrollIndex === i"
      [class.checked]="colData.check.IsChecked(row)"
    ></mat-row>
  </mat-table>
</div>
