:host{
    // height: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}


mat-toolbar{
    flex-shrink: 0;
    &.main{
        background-color: lightgreen;
    }
    &.sub{
        background-color: lightskyblue;
        .check{
            color: lightblue;
            &.active{
                color: red;
            }
        }
    }
    display: flex;
    .space{
        flex-grow: 1;
    }
    .page,.row{
        width: 4em;
        margin-left: 1em;
        font-size: small;
    }
    .pages{
        font-size: small;
    }
    .suffix{
        font-size: small;
        color: gray;
    }

    .month{
        font-size: small;
        line-height: normal;
    }
}

.content{
    overflow-y: auto;
}

.categories{
    .active{
        background-color: aqua;
    }
}

mat-table{
    img{
        max-height: 128px;
    }

    mat-header-cell,mat-cell{
        flex-grow: 1;
    }

    // .image{
    //     max-width: 240px;
    // }

    .check, .id{
        max-width: 3em;
    }

    .d_source>div{
        display: flex;
        align-items: center;
        >div{
            display: flex;
            flex-wrap: wrap;
        }
    }

    .period>div{
        display: flex;
    }


    .month{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        color: lightgray;

        $b: gray 1px solid;

        border-top: $b;
        border-left: $b;
        >div{
            border-bottom: $b;
            border-right: $b;
        }
        .active{
            background-color: yellowgreen;
            color: black;
        }
        .current{
            background-color: rgb(247, 194, 187);
        }
        .current.active{
            background-color: rgb(202, 109, 86);
        }
    }
    .time{
        display: grid;
        grid-template-columns: repeat(24, 1fr);
        color: lightgray;

        $b: gray 1px solid;

        border-left: $b;
        >div{
            width: 6px;
            height: 6px;
            content: "";
            border-right: $b;
        }
        .active{
            background-color: yellowgreen;
            color: black;
        }
        .current{
            background-color: rgb(247, 194, 187);
        }
        .current.active{
            background-color: rgb(202, 109, 86);
        }
    }

    .c.property{
        display: grid;
        grid-template-columns: auto 1fr;
        .key{
            margin-right: 1em;
        }
    }
}
