.active{
    background-color: aqua;
}

table{
    width: 95vw;
    // table-layout: fixed;
    th{
        // min-width: 5.5em;
        &.h_var{
            width: 3em;
        }
    }
    .image{
        display: flex;
        width: 400px;
        overflow-x: auto;
        white-space: nowrap;
        .image-name{
            font-size: small;
        }
    }
    img{
        max-height: 128px;
    }


    .d_source>div{
        display: flex;
        align-items: center;
        >div{
            display: flex;
            flex-wrap: wrap;
        }
    }
}