:host{
    // height: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}


mat-toolbar{
    flex-shrink: 0;
    &.main{
        background-color: lightgreen;
    }
    &.sub{
        background-color: lightskyblue;
        .check{
            color: lightblue;
            &.active{
                color: red;
            }
        }
    }
    display: flex;
    .space{
        flex-grow: 1;
    }
    .page,.row{
        width: 4em;
        margin-left: 1em;
        font-size: small;
    }
    .pages{
        font-size: small;
    }
    .suffix{
        font-size: small;
        color: gray;
    }
}

.content{
    overflow-y: auto;
    .active{
        background-color: aqua;
    }
}


mat-table{
    // width: 95vw;
    // table-layout: fixed;
    // .image{
    //     display: flex;
    //     max-width: 400px;
    //     overflow-x: auto;
    //     white-space: nowrap;
    //     .image-name{
    //         font-size: small;
    //     }
    // }

    .checked{
        background-color: rgb(83, 150, 172, 0.2);
    }
    img{
        max-height: 128px;
    }

    .check{
        max-width: 3em;
    }

    .d_source>div{
        display: flex;
        align-items: center;
        >div{
            display: flex;
            flex-wrap: wrap;
        }
    }
    .d.material{
        display: grid;
        grid-template-columns: 2em auto;
        >div{
            display: contents;
            >div{
                display: flex;
                align-items: center;
            }
        }
        img{
            // height: 2em;
            width: 2em;
        }
    }
}