<mat-toolbar>
    <mat-checkbox *ngFor="let s of settings.recipeskey" [(ngModel)]="settings.recipes[s]" (change)="TableColumns()">
        {{s}}</mat-checkbox>
    <!-- <mat-checkbox [(ngModel)]="settings.showimage" (ngModelChange)="settings.settingChanged.next({prop:'showimage',data:settings.showimage})">image</mat-checkbox>
    <mat-checkbox [(ngModel)]="settings.showdata" (ngModelChange)="settings.settingChanged.next({prop:'showdata',data:settings.showdata})">data</mat-checkbox> -->
    <!-- <mat-checkbox [(ngModel)]="settings.showVariations" (ngModelChange)="settings.settingChanged.next({prop:'showVariations',data:settings.showVariations})">variations</mat-checkbox> -->
</mat-toolbar>
<mat-form-field>
    <input matInput [(ngModel)]="page" type="number" (change)="Filter()">
</mat-form-field>
<mat-form-field>
    <input matInput [(ngModel)]="row" type="number" (change)="Filter()">
</mat-form-field>
<button mat-button (click)="ToggleState(eventstate, event)">{{event.state}}</button>

{{(page - 1) * row + 1}} - {{(page - 1) * row + showingData.length}} / {{filteredData.length}} / {{raw.length}}

<div>
    <mat-form-field>
        <input matInput [(ngModel)]="search" (change)="Filter()">
        <button mat-icon-button matSuffix (click)="search = '';Filter()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>

<div>
    <button mat-icon-button (click)="CategoryAll(categories)">
        <mat-icon>weekend</mat-icon>
    </button>
    <button mat-raised-button *ngFor="let c of categories" (click)="CategoryButton(c)"
        [class.active]="c.checked">{{c.name}}</button>
</div>



<table mat-table [dataSource]="showingData" matSort (matSortChange)="ReSort($event)" matSortActive="name"
    matSortDirection="asc">
    <ng-container *ngFor="let c of colDataSimple" [matColumnDef]="c.id">
        <th [class]="['h_'+c.id]" mat-header-cell *matHeaderCellDef mat-sort-header disableClear>{{c.header}}</th>
        <td mat-cell *matCellDef="let element"> {{c.data(element)}} </td>
    </ng-container>

    <ng-container [matColumnDef]="colData.check.id">
        <th class="h_checked" mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" (click)="colData.check.checked(element)">
            <button mat-icon-button>
                <mat-icon>{{colData.check.icon(element)}}</mat-icon>
            </button>
        </td>
    </ng-container>
    <ng-container [matColumnDef]="colData.image.id">
        <th class="h_image" mat-header-cell *matHeaderCellDef>がぞう</th>
        <td mat-cell *matCellDef="let element">
            <div class="image">
                <div *ngFor="let s of colData.image.data(element)">
                    <div class="image-name">{{s.name}}</div>
                    <img [src]="s.src" [id]="s.name">
                </div>
            </div>
        </td>
    </ng-container>
    <!-- <ng-container [matColumnDef]="colData.var.id">
        <th class="h_var" mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <mat-icon *ngIf="colData.var.exist(element)">edit</mat-icon>
        </td>
    </ng-container> -->
    <ng-container [matColumnDef]="colData.source.id">
        <th class="h_source" mat-header-cell *matHeaderCellDef mat-sort-header disableClear>入手手段</th>
        <td class="d_source" mat-cell *matCellDef="let element">
            <div>
                <div>
                    <div *ngFor="let s of element.source;let i = index">{{t.ItemsSource(s)}}<ng-container
                            *ngIf="IsNotLast(i, element.source)"> , </ng-container>
                    </div>
                </div>
                <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="element.sourceNotes">
                    <mat-icon>speaker_notes</mat-icon>
                </button>
                <mat-menu #menu="matMenu">{{element.sourceNotes}}</mat-menu>
            </div>
        </td>
    </ng-container>
    <!-- <ng-container [matColumnDef]="colData.variations.id">
        <th class="h_variations" mat-header-cell *matHeaderCellDef mat-sort-header disableClear>バリエーション</th>
        <td class="d_variations" mat-cell *matCellDef="let element">
            <div>
                <div *ngFor="let s of element.variations;let i = index">{{colData.variations.ja(s)}}<ng-container
                        *ngIf="IsNotLast(i, element.variations)"> , </ng-container>
                </div>
            </div>
        </td>
    </ng-container> -->
    <tr mat-header-row *matHeaderRowDef="col"></tr>
    <tr mat-row *matRowDef="let row; columns: col;"></tr>
</table>